.addTask__header {
    background-color: white;
    padding: 20px;
    margin-bottom: 3px;
}

.addTask__form {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.addTask__button {
    padding: 10px;
    background-color: hsl(180, 100%, 25%);
    border: none;
    color: white;
    flex-grow: 1;
    margin: 10px;
    transition: 0.5s;
}

.addTask__button:hover {
    background-color: hsl(180, 100%, 35%);
    transform: scale(1.1);
}

.addTask__input {
    padding: 10px;
    flex-basis: 70%;
    flex-grow: 1;
    margin: 10px;
}